---
title: Medarbetare
layout: section
subpages: 'coworkers'
tags: ['intro','page']
pageOrder: 3
---

.row-fluid.coworkers
  each doc in getCollection('coworkers').toJSON()
    .coworker
      a(href=doc.url, class="name")
        img(src=doc.image, class="image")
       .info
        h4
          a(href=doc.url)= doc.title
        p(class="title")= doc.jobTitle
        a(href="mailto:" + doc.email)= doc.email
        p= doc.phonenumber