---
title: Medarbetare
layout: section
subpages: 'medarbetare'
tags: ['intro', 'page']
pageIndex: 3
dontIndexInAnyCollection: true
---

.row-fluid.coworkers

  each doc in getCollection('medarbetare').toJSON()
    .coworker
      a.portrait(href=doc.url)
        img.image(src=getGravatarUrl(200,doc))
      .info
        h4
          a(href=doc.url)= doc.title
        p(class="title")= doc.jobTitle
        a.email(href="mailto:" + doc.email)= doc.email
        p= doc.phonenumber