.col-md-12.call-to-action-form
  form.row.contact(action='https://docs.google.com/forms/d/1SseMEJgZjsT9WQtn6CBHhhcKTkHoMKgtt378_OswMDM/formResponse?embedded=true', target='_blank')
    h1=document.formTitle || 'Dags för ett möte'
      small=document.formDescription || 'Vi vill träffa dig'
    input.input-xxlarge(type="text",placeholder=document.formContact || 'Mobilnummer eller epost', name='entry.589797910', required)
    input.input-xxlarge(type="text",placeholder=document.formName || 'Ditt namn', name='entry.1147522160')
    input(type="hidden", name='entry.1974291764',value=document.formTracking || 'Ring mig')
    input.btn-success.text-center(type="submit", value=document.formAction || 'Kontakta mig!')