mixin blogg(doc, showCategory)
  section.post
    header
      if (doc.topImage)
        a.post-image(href= doc.url, style="background-image:url(" + doc.topImage + ")")
      .post-date= toDateString((doc.realDate || doc.date), "short")
      if (showCategory)
        a.post-category(href= "/blogg/" + doc.category)= capitalizeFirstChar(doc.category) + "/ "
      a.post-title(href= doc.url)= doc.title

    article.post-content
      p!= doc.intro

mixin pagination(page)
  ul
    - for (var pageNumber = 0; pageNumber < page.count; pageNumber++)
      - var num = pageNumber +1
      if document.page.number === pageNumber
        li.active
          span= num
      else
        li
          span
            a(href=getPageUrl(pageNumber))= num
    if hasNextPage()
      li
        span
          a(href=getNextPage()) Tidigare
    else
      li.disabled
        span Tidigare