---
layout: 'default'
title:

topImage: "/content/images/section-topbilder/start.JPG"
backgroundDark: true

introHeading: ["För fyra år sedan fanns inte iPad", "För sju år sedan fanns inte iPhone", "Internet var ingen fluga"]
introSubheading: >
  - Framtiden formas av människor som vågar drömma. Vi bygger framtidens företag med hjälp av senaste digitala verktygen och engagerade beställare.
---
ul.image(
  rn-carousel
  rn-carousel-indicator
  loop=true
  loopinterval=4000
)

  li(
    style="background-image:url(" + document.topImage + ");"
    invert=!!shouldWeUseADarkBackground(document)
  )
    .layer
      .wrapper(class=shouldWeUseADarkBackground(document))
        heading(headings=document.introHeading)
        h2.hidden-phone=document.introSubheading

  //- Holder for all case-sites
  each showcase in getShowCase()
    if !!showcase.topImage
      li(
        style="background-image:url(" + showcase.topImage + ");"
        invert=!!shouldWeUseADarkBackground(showcase)
      )
        .layer
          .wrapper(class = shouldWeUseADarkBackground(showcase))
            a.case-title(href = showcase.url)= showcase.title
            br
            if !!showcase.sections
              each section, i in showcase.sections
                - posClass = i !== 0 ? "separator-before" : ""
                - section = getMetadataFrom(section)
                a.section(class = posClass, href = section.url, target = "_blank")= section.title

.container
  #startpage
    .row-fluid.two-column
      .span12.row-fluid
        :markdown
          Att prata om passion blir lätt pretentiöst. Men faktum är att det är det som är kärnan i Iteam. Sedan 1995 har världen genomgått en teknisk revolution och under hela den tiden har vi storögt, hungrigt och otåligt kastat oss över allt nytt. Vår passion driver oss ständigt vidare till nästa teknik, nästa pryl och nästa utmaning.
            Det senaste är inte automatiskt det bästa - det vet vi bättre än de flesta. Men om ny teknik och ny kunskap bär på lösningen, så kan du lita på att vi känner till det.

    .row-fluid
      .span6
        :markdown
          ## Radical.fm iPhone app released

          Radical.fm disrupts the tradtional terrestrial radio with the new free and commercial free iPhone app released today (USA only).

          Radical launched a beta in Sweden last year to perform user tests on a mature market and relaunches today a rewritten hybrid app for iPhone on the American market.

          The underlying technology is HTML5 which means it will soon be available to multiple other devices, tablets, desktops. Iteam is working closely with Radical in tech advisory and agile development.

          Read more about [Radical.fm](http://radical.fm/)

      .span6
        h2 Iteam på Instagram
        instagram(
          name="iteam1337"
          max=4
        )