---
layout: 'default'
title:
description: 'Iteam är en teknikbyrå med kreativa lösningar. Vi förverkligar dina idéer.'
keywords: ''

topImage: "/content/images/section-topbilder/start.JPG"
background: 'invert'

introHeading: ["Vi är en kreativ teknikbyrå som driver din affär framåt"]
introHeadingMobile: ['En kreativ teknikbyrå']
introSubheading: >
  - Vi är ditt stöd när du vill förändra.
---

#slider.carousel.slide(data-ride="carousel")
  ol.carousel-indicators
    li.active(data-target="#slider",data-slide-to="0")
    li(data-target="#slider",data-slide-to="1")
    li(data-target="#slider",data-slide-to="2")
    li(data-target="#slider",data-slide-to="3")
    li(data-target="#slider",data-slide-to="4")

  .carousel-inner
    .item.active
      img(src=document.topImage)
      .carousel-caption.visible-md.visible-lg= document.introHeading[0]
        .sub-caption= document.introSubheading
      .carousel-caption.visible-sm= document.introHeading[0]
      .carousel-caption.visible-xs= document.introHeadingMobile[0]
    each showcase in getShowCase()
      if !!showcase.topImage
      - bgImg = "background-image:url(" + showcase.topImage + ");"
      .item(style=bgImg)
        .carousel-caption
          a(href=showcase.url)= showcase.title
          .sub-caption
            if !!showcase.sections
              each section, i in showcase.sections
                - posClass = i !== 0 ? "separator-before" : ""
                - section = getMetadataFrom(section)
                a.section(class = posClass, href = section.url, target = "_blank")= section.title

  a.left.carousel-control(href="#slider",data-slide="prev")
    .glyphicon.glyphicon-chevron-left
  a.right.carousel-control(href="#slider",data-slide="next")
    .glyphicon.glyphicon-chevron-right

.container
  #startpage
    .row.two-column
      .col-md-12.row
        :markdown
          Vår kärna har sedan 1995 alltid varit passion. Under den här tiden har vi storögt, hungrigt och otåligt kastat oss över allt nytt. Vår passion driver oss ständigt vidare till nästa teknik, nästa utmaning och den bästa lösningen.
            Det nyaste är inte automatiskt det bästa - det vet vi. Men om ny teknik och ny kunskap bär på lösningen, så kan du lita på att vi känner till det.

    .row
      .col-md-6.news
        :markdown
          ## Joel!

          ![Joel Börjesson](/content/images/startpage/joel.jpg)
          
          Möt vår nya projektledare [Joel Börjesson](/medarbetare/joel). Han kommer senast från HP och hobbykodar när han inte ägnar dagarna åt att ha benkoll.  

      .col-md-6
        h2 Iteam på Instagram
        .instagram#instagram-feed(data-name="iteam1337", data-images=8)
