---
layout: 'default'
title:
description: 'Iteam är en teknikbyrå med kreativa lösningar. Vi förverkligar dina idéer.'

topImage: "/content/images/section-topbilder/start.JPG"
background: 'invert'

introHeading: ["För fyra år sedan fanns inte iPad", "För sju år sedan fanns inte iPhone", "Internet var ingen fluga"]
introSubheading: >
  - Framtiden formas av människor som vågar drömma. Vi bygger framtidens företag med hjälp av senaste digitala verktygen och engagerade beställare.
---

#slider.carousel.slide(data-ride="carousel")
  ol.carousel-indicators
    li.active(data-target="#slider",data-slide-to="0")
    li(data-target="#slider",data-slide-to="1")
    li(data-target="#slider",data-slide-to="2")
    li(data-target="#slider",data-slide-to="3")
    li(data-target="#slider",data-slide-to="4")

  .carousel-inner
    .item.active
      img(src=document.topImage)
      .carousel-caption= document.introHeading[0]
        .sub-caption= document.introSubheading
    each showcase in getShowCase()
      if !!showcase.topImage
      .item 
        img(src=showcase.topImage)
        .carousel-caption
          a(href=showcase.url)= showcase.title
          .sub-caption
            if !!showcase.sections
              each section, i in showcase.sections
                - posClass = i !== 0 ? "separator-before" : ""
                - section = getMetadataFrom(section)
                a.section(class = posClass, href = section.url, target = "_blank")= section.title

  a.left.carousel-control(href="#slider",data-slide="prev")
    .glyphicon.glyphicon-chevron-left
  a.right.carousel-control(href="#slider",data-slide="next")
    .glyphicon.glyphicon-chevron-right

.container
  #startpage
    .row.two-column
      .col-md-12.row
        :markdown
          Att prata om passion blir lätt pretentiöst. Men faktum är att det är det som är kärnan i Iteam. Sedan 1995 har världen genomgått en teknisk revolution och under hela den tiden har vi storögt, hungrigt och otåligt kastat oss över allt nytt. Vår passion driver oss ständigt vidare till nästa teknik, nästa pryl och nästa utmaning.
            Det senaste är inte automatiskt det bästa - det vet vi bättre än de flesta. Men om ny teknik och ny kunskap bär på lösningen, så kan du lita på att vi känner till det.

    .row
      .col-md-6
        :markdown
          ## TRR har Sveriges vassaste rekryteringsverktyg

          ”Tillsammans med Iteam har vi lyckats tänka nytt och utmana. Verksamhetsstödet för TRR Rekrytering har helt och hållet utgått från våra kunders behov. Projektet går långt utöver systemutveckling – det har verkligen handlat om verksamhetsutveckling – och Iteam har visat att man brinner för att hjälpa organisationer och företag att utvecklas och växa.”
          
          *Erik Wickbom, Projektledare, Utvecklingsavdelningen Trygghetsrådet TRR*

          [Läs mer om projektet](/case/trr)

      .col-md-6
        h2 Iteam på Instagram
        .instagram#instagram-feed(data-name="iteam1337", data-images=8)
