---
layout: 'default'
title:

topImage: "/content/images/section-topbilder/start.JPG"
backgroundDark: true

introHeading: ["För tre år sedan fanns inte iPad", "För sex år sedan fanns inte iPhone", "Internet var ingen fluga", "Ordet digitalkamera försvinner", "När webbyråer skapar kampanjer bygger vi digitala tjänster och företag", "Alla borde lära sig programmera i lågstadiet, Mark Zuckerberg"]
introSubheading: >
---

ul.image(
  rn-carousel
  rn-carousel-indicator
  loop=true
  loopinterval=3000
)

  li(
    style="background-image:url(" + document.topImage + ");"
    invert=!!shouldWeUseADarkBackground(document)
  )
    .layer
      .wrapper(class = shouldWeUseADarkBackground(document))
        heading(headings = document.introHeading)

  //- Holder for all case-sites
  each showcase in getShowCase()
    if !!showcase.topImage
      li(
        style="background-image:url(" + showcase.topImage + ");"
        invert=!!shouldWeUseADarkBackground(showcase)
      )
        .layer
          .wrapper(class = shouldWeUseADarkBackground(showcase))
            a.case-title(href = showcase.url, target = "_blank")= showcase.title
            br
            if !!showcase.sections
              each section, i in showcase.sections
                - posClass = i !== 0 ? "separator-before" : ""
                - section = getMetadataFrom(section)
                a.section(class = posClass, href = section.url, target = "_blank")= section.title

.container
  #startpage.row-fluid
    .row-fluid
      .span12
        :markdown
          Att prata om passion blir lätt pretentiöst. Men faktum är att det är det som är kärnan i Iteam. Sedan 1995 har världen genomgått en teknisk revolution och under hela den tiden har vi storögt, hungrigt och otåligt kastat oss över allt nytt. Vår passion driver oss ständigt vidare till nästa teknik, nästa pryl och nästa utmaning.
            Det senaste är inte automatiskt det bästa - det vet vi bättre än de flesta. Men om ny teknik och ny kunskap bär på lösningen, så kan du lita på att vi känner till det.

    .row-fluid
      .span12
        h2 Iteam på Instagram

        instagram(
          name="iteam1337"
          max=4
        )
