---
layout: 'default'
title:
description: 'Iteam är en teknikbyrå med kreativa lösningar. Vi förverkligar dina idéer.'
keywords: ''

topImage: "/content/images/section-topbilder/start.JPG"
background: 'invert'

introHeading: ["En kreativ teknikbyrå för dig som vill växa"]
introHeadingMobile: ['En kreativ teknikbyrå']
introSubheading: >
  - Bli ledare i din bransch genom teknisk innovation
---

#slider.carousel.slide(data-ride="carousel")
  ol.carousel-indicators
    li.active(data-target="#slider",data-slide-to="0")
    li(data-target="#slider",data-slide-to="1")
    li(data-target="#slider",data-slide-to="2")
    li(data-target="#slider",data-slide-to="3")
    li(data-target="#slider",data-slide-to="4")

  .carousel-inner
    .item.active
      img(src=document.topImage)
      .carousel-caption.visible-md.visible-lg= document.introHeading[0]
        .sub-caption= document.introSubheading
      .carousel-caption.visible-sm= document.introHeading[0]
      .carousel-caption.visible-xs= document.introHeadingMobile[0]
    each showcase in getCollection('showcase').toJSON()
      if !!showcase.topImage
      - bgImg = "background-image:url(" + showcase.topImage + ");"
      .item(style=bgImg)
        .carousel-caption
          a(href=showcase.url)= showcase.title
          .sub-caption
              each section, i in showcase.sections
                - posClass = i !== 0 ? "separator-before" : ""
                a.section(class = posClass, href = showcase.url)= section

  a.left.carousel-control(href="#slider",data-slide="prev")
    .glyphicon.glyphicon-chevron-left
  a.right.carousel-control(href="#slider",data-slide="next")
    .glyphicon.glyphicon-chevron-right

.container
  #startpage
    .row.two-column
      .col-md-12.row.lead
        :markdown
          Vår kärna har sedan starten 1995 alltid varit passion. Under den här tiden har vi storögt, hungrigt och otåligt kastat oss över allt nytt. Vår passion driver oss ständigt vidare till nästa teknik, nästa utmaning och den bästa lösningen.
            Det nyaste är inte automatiskt det bästa - det vet vi. Men om ny teknik och ny kunskap bär på lösningen, så kan du lita på att vi känner till det.


    .row

      .col-md-8.instagram-wrap
        h1 Följ oss på Instagram
        .instagram#instagram-feed(data-name="iteam1337", data-images=8)

      .col-md-4
        h1 Bra saker vi gör
        :markdown
          * **2014-06-18** - [Frukostseminarium, Johan Öbrink föreläser på Marknadsföreningen](http://www.mis.se/event/frukostseminarium-kop-grisen-i-sacken) om varför agila projekt är bättre
          * **2014-09-10** - [Hjälp oss bli bättre agil beställare](/om-oss/kompetens/att-bestalla-agilt/), vi sätter ihop en fokusgrupp och träffas under hösten och försöker lära ut våra erfarenheter
          * **2014-09-18** - Iteam är [en av tre huvudsponsorer](http://nordicjs.com/sponsors) till Nordic.js - en internationell konferens om Javascript, vårt favoritspråk.
 

    include ../jade_includes/call-to-action

