---
layout: 'default'
title:
description: 'Iteam är en teknikbyrå med kreativa lösningar. Vi förverkligar dina idéer.'

topImage: "/content/images/section-topbilder/start.JPG"
backgroundDark: true

introHeading: ["För fyra år sedan fanns inte iPad", "För sju år sedan fanns inte iPhone", "Internet var ingen fluga"]
introSubheading: >
  - Framtiden formas av människor som vågar drömma. Vi bygger framtidens företag med hjälp av senaste digitala verktygen och engagerade beställare.
---

#slider.carousel.slide(data-ride="carousel")
  ol.carousel-indicators
    li.active(data-target="#slider",data-slide-to="0")
    li(data-target="#slider",data-slide-to="1")
    li(data-target="#slider",data-slide-to="2")
    li(data-target="#slider",data-slide-to="3")
    li(data-target="#slider",data-slide-to="4")

  .carousel-inner
    .item.active
      img(src=document.topImage)
      .carousel-caption= document.introHeading[0]
        .sub-caption= document.introSubheading
    each showcase in getShowCase()
      if !!showcase.topImage
      .item 
        img(src=showcase.topImage)
        .carousel-caption
          a(href=showcase.url)= showcase.title
          .sub-caption

  a.left.carousel-control(href="#slider",data-slide="prev")
    .glyphicon.glyphicon-chevron-left
  a.right.carousel-control(href="#slider",data-slide="next")
    .glyphicon.glyphicon-chevron-right

.container
  #startpage
    .row-fluid.two-column
      .span12.row-fluid
        :markdown
          Att prata om passion blir lätt pretentiöst. Men faktum är att det är det som är kärnan i Iteam. Sedan 1995 har världen genomgått en teknisk revolution och under hela den tiden har vi storögt, hungrigt och otåligt kastat oss över allt nytt. Vår passion driver oss ständigt vidare till nästa teknik, nästa pryl och nästa utmaning.
            Det senaste är inte automatiskt det bästa - det vet vi bättre än de flesta. Men om ny teknik och ny kunskap bär på lösningen, så kan du lita på att vi känner till det.

    .row-fluid
      .span6
        :markdown
          ##Vi rekryterar

          Iteam ska starta sitt tredje utvecklingsteam under 2014 med fokus på Node och Angular. Om du tycker JavaScript och agil produktutveckling är det roligaste just nu kan du skicka mig ett meddelande med och ditt github repo.

          Vi jobbar bara i team och har projekt mellan ett halvår och ett år. Roller som söks är Frontend engineer (CSS/less/angular/TDD), system developer (NodeJs/Mongo/TDD), devOps (Docker, Chef, Grunt, AWS, Elasticsearch).

          Kontakta [Sophie Raland Wesslau](/medarbetare/sophie) om du vill veta mer.

      .span6
        h2 Iteam på Instagram
