--- yaml
layout: 'default'
title: 'Operations'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit
  h1 Drift & Support
  p: :markdown
    Vi hjälper dig planera, underhålla och övervaka din IT-miljö.

  .btn.btn-success.pull-right Kolla igenom våra case     
// Example row of columns.
.row-fluid
  each doc in getCollection('operations').toJSON().slice(0,3)
    article.span4
      h2=doc.title
      p=doc.description
      a(href=doc.url)="Till " + doc.title
      img(src="http://iteam.se/Content/Images/Iteam.png")
.row-fluid
  each doc in getCollection('operations').toJSON().slice(3,5)
    article.span4
      h2=doc.title
      p=doc.description
      a(href=doc.url)="Till " + doc.title

  article.span4
    h2 Fjärrstyr min dator
    p För fjärrstyrning, ring +46 8 267090 (välj 1). Klicka sedan på någon av länkarna nedanför.
    a.btn(href="../../../files/IteamRemoteControlWindows.exe") Fjärrstyr min PC
    a.btn(href="../../../files/MacRemote.dmg") Fjärrstyr min Mac
   




    