---
layout: default
---
include ../jade_includes/mixin.jade
- var blogg = getCollection("blogg").toJSON().slice(document.page.startIdx, document.page.endIdx)

h1.main-title(style=shouldWeUseADarkBackground())= document.title

.row-fluid()

  article#post.post

    .page-content
      .left-part
        each doc in blogg
          section.post
            header
              a.post-image(href= doc.url, style="background-image:url(" + doc.backgroundImage + ")")
              .post-date= toDateString(doc.date, "short")
              if (showCategory)
                a.post-category(href= "/blogg/" + doc.category)= capitalizeFirstChar(doc.category) + "/ "
              a.post-title(href= doc.url)= doc.title

            article.post-content
              p!= doc.intro

    .pagination
      mixin pagination(document.page)