---
layout: default
---

article#post.case.row
  .span3
    img(src=document.image)
  .span9
    h1= document.title
    .post-content!= content
    if (document.team)
      ul
        each member in document.team
          li=member


footer
  if document.relatedDocuments && document.relatedDocuments.length
    section#related
      h3 Related Posts
      nav.linklist
        each doc in document.relatedDocuments
          li
            span= doc.date.toDateString()
            |  &raquo;&nbsp;
            a(href=doc.url)= doc.title
