---
layout: default
---

h1.main-title(title,class=shouldWeUseADarkBackground())= document.title
  small=document.subtitle && " - " + document.subtitle || ''

.row-fluid
  article#case
    .about

      .content

        if (!!document.about || !!document.quote)
          .top
            if (!!document.about)
              .about
                img(src=document.about.image)
                .about-text
                  h2=document.about.title
                  p=document.about.text

            if (!!document.quote)
              .quote
                h3= "\"" + document.quote.text + "\""
                blockquote="— " + document.quote.by


        .text!= content

        .information

          if (document.team)
            ul.team
              .header
                h2 Medverkande
              include ../jade_includes/team

          if (document.readmorelinks)
            ul.urls
              .header
                h2 Länkar
              include ../jade_includes/readmore

          if (document.imageGallery)
            .gallery
              .header
                h2 Galleri
              include ../jade_includes/image_gallery

          if (document.tags)
            include ../jade_includes/related_tags