---
layout: default
---

article#case.row-fluid
  //- if document.twitterTag
  //-   #twitter= document.twitterTag

  //- ul.tweets
  //-   li(ng-repeat="tweet in tweets | limitTo:5", ng-bind-html-unsafe="tweet.text")
  //-     .time {{tweet.created_at}}

  .about
    h1= document.title
    .content!= content
      if (document.team)
        ul.team
          .title Teamet
          each member in document.team
            li
              each coworker in getCollection('coworkers').toJSON()
                if coworker.shortname == member
                  a(href="/coworkers/" + member)= coworker.title
                  div= coworker.jobTitle

      if (document.readmorelinks)
        ul.urls
          .title Relaterade länkar
          each url in document.readmorelinks
            li
              a(href=url)= url

      if (document.imageGallery)
        .gallery
          .title Bilder
          each image in document.imageGallery
            img(src="/images/" + image)

      if (document.tags)
        ul.relatedServices
          .title Relaterade tjänster
          each tag in document.tags
            each service in getCollection('services').toJSON()
              if service.title.toLowerCase() === tag
                li
                  a(href=service.url)= service.title