---
layout: default
---

h1.main-title(style=shouldWeUseADarkBackground())= document.title
  small=document.subtitle && " - " + document.subtitle || ''

.row-fluid
  article#case
    .about

      .content

        .text
          if (!!document.about)
            .about
              img(src=document.about.image)
              .about-text
                h2=document.about.title
                p=document.about.text
          != content

        .information

          if (!!document.quote)
            .quote
              h3= "\"" + document.quote.text + "\""
              blockquote="— " + document.quote.by

          if (document.team)
            ul.team
              .header
                h2 Medverkande
              include ../jade_includes/team

          if (document.readmorelinks)
            ul.urls
              .header
                h2 Länkar
              include ../jade_includes/readmore

          if (document.imageGallery)
            .gallery
              .header
                h2 Galleri
              include ../jade_includes/image_gallery

          if (document.tags)
            ul.relatedServices
              .header
                h2 Taggar
              include ../jade_includes/related_tags

            .twitter(ng-show="tweets")
              .header
                h2 Twitter
              include ../jade_includes/twitter_tags
