---
layout: default
---

article#case.row-fluid
  if (document.images)
    each image,i in document.images
      img(src='/images/' + image, class=document.imagePos[i])

  if document.twitterTag
    #twitter= document.twitterTag

  ul.tweets
    li(ng-repeat="tweet in tweets | limitTo:5", ng-bind-html-unsafe="tweet.text")
      .time {{tweet.created_at}}

  .about
    h1= document.title
    .content!= content
      if (document.team)
        ul.team
          .team-title Teamet
          each member in document.team
            li
              each coworker in getCollection('coworkers').toJSON()
                if coworker.shortname == member
                  a(href="/coworkers/" + member)= coworker.title
                  div= coworker.jobTitle

  if (document.imageGallery)
    .gallery
      .gallery-title Bilder
      each image in document.imageGallery
        img(src="/images/" + image)
