---
layout: default
---

article#post.case.row
  .span3
    img(src=document.image)
  .span9.projectMembers
    h1= document.title
    .post-content!= content
    if (document.team)
      ul
        each member in document.team
          li
            each coworker in getCollection('coworkers').toJSON()
              if coworker.shortname == member
                if coworker.image
                  div.memberImg
                    img(src=coworker.image)
                a(href="/coworkers/" + member)= coworker.title
                span= ", " + coworker.jobTitle

