---
layout: default
---

article#post.case.row-fluid
  if (document.images)
    each image,i in document.images
      img(src='/images/' + image, class=document.imagePos[i])

  .about
    h1= document.title
    .content!= content
    if (document.team)
      ul.team
        each member in document.team
          li
            each coworker in getCollection('coworkers').toJSON()
              if coworker.shortname == member
                a(href="/coworkers/" + member)= coworker.title
                div= coworker.jobTitle

