---
layout: default
---

article#coworker(ng-controller="CoworkerCtrl")
  .row-fluid
    - var inlineClass = "image "
    - inlineClass += !!document.css ? document.css : "";
    div(class=inlineClass)
      img(src=document.image)
    .information
      h1.name= document.title
      .job= document.jobTitle
      .email
        a(href="mailto:" + document.email)= document.email
      .phone= document.phonenumber
      .social
        if document.twitter
          a(href="http://twitter.com/" + document.twitter, target="_blank")
            .ets-c-twitter
        if document.linkedin
          a(href="http://linkedin.com/" + document.linkedin, target="_blank")
            .ets-c-linkedin
        if document.instagram
          a(href="http://instagram.com/" + document.instagram, target="_blank")
            .ets-instagram
        if document.github
          #github= document.github
          a(href="http://github.com/" + document.github, target="_blank")
            .ets-c-github
      .desc!= content

      ul.cases
        .title Medverkande i case
        each cases in getCollection('case').toJSON()
          if cases.team
            each member in cases.team
              if (member == document.shortname)
                li
                  a(href=cases.url)= cases.title

      .github(ng-show="github")
        .title Github
        ul.git.repos(ng-class="{single: (!github.events.length && !!github.repos.length)}", ng-show="!!github.repos.length")
          h3.git-title Repos ({{github.repos.length}})
          li(ng-repeat="repo in github.repos|limitTo:8")
            a.repo-title(ng-href="{{ repo.url }}", target="_blank") {{ repo.name }} <small>{{ repo.language && "(" + repo.language + ")" || "" }}</small>
            .git-info
              p.git-description {{ repo.description }}
            .git-time {{ repo.created_at }}
        ul.git.events(ng-class="{single: (!github.repos.length && !!github.events.length)}", ng-show="!!github.events.length")
          h3.git-title Senaste aktivitet
          li(ng-repeat="git in github.events")
            a.push-title(ng-href="{{ git.url }}", target="_blank") {{ git.type }} <small>{{ !!repo.name && "(" + repo.name + ")" || "" }}</small>
            .git-info
              p.git-message {{ git.message }}
            .git-time {{ git.created_at }}

      if document.instagram
        instagram(name= document.instagram)
          .social-media
            .title Instagram
            a(ng-repeat="image in feed", ng-href="{{ image.link }}", target="_blank")
              img(ng-src="{{ image.image.low_resolution.url }}")
