---
layout: default
---

- var inlineClass = "image "
- inlineClass += !!document.css ? document.css : ""
- var inlineColor = !!document.cssColor ? "border-color:" + document.cssColor + " !important;" : ""
- var bloggCollection = getAllBlogsByAuthor(document.shortname)
- var cases = getAllCasesByCoworker(document.shortname)

.row-fluid.page-content
  article#coworker(ng-controller="CoworkerCtrl")

    .top-part
      .left
        .email
          a(href="mailto:" + document.email)= document.email
        .phone= document.phonenumber

      .center
        div(class=inlineClass, style=inlineColor)
          img(src=getGravatarUrl(200))
        .job= document.jobTitle
        h1.name= document.title

      .right
        .social
          if document.twitter
            a(href="http://twitter.com/" + document.twitter, target="_blank")
              .ets-c-twitter
          if document.linkedin
            a(href="http://linkedin.com/" + document.linkedin, target="_blank")
              .ets-c-linkedin
          if document.instagram
            a(href="http://instagram.com/" + document.instagram, target="_blank")
              .ets-instagram
          if document.github
            #github= document.github
            a(href="http://github.com/" + document.github, target="_blank")
              .ets-c-github

    .row
      .desc!= content


    - var splitRow = (!!cases.length && !!bloggCollection.length) ? "user-content multi" : "user-content"
    .row.split(class=splitRow)
      if (cases.length)
        ul.in-cases
          .header
            h2.title Medverkande i case
          each Case in cases
            li
              a(href=Case.url)= Case.title

      if (bloggCollection.length)
        ul.bloggar
          .header
            h2.title Bloggar
          each blogg in bloggCollection
            li
              a(href=blogg.url)= blogg.title

    .row.split
      .header
        h2.title(ng-show="github") Github
      .github(class="ng-cloak")
        ul.git.repos(ng-show="!!github.repos.length")
          h3.git-title Repos ({{github.repos.length}})
          li(ng-repeat="repo in github.repos|limitTo:8")
            a.repo-title(ng-href="{{repo.url}}", target="_blank") {{repo.name}} <small ng-show="!!repo.language">// {{repo.language}}</small>
            .git-info(ng-show="!!repo.description")
              p.git-description {{repo.description}}
            .git-time {{repo.created_at}}
        ul.git.events(ng-show="!!github.events.length")
          h3.git-title Senaste aktivitet
          li(ng-repeat="git in github.events")
            a.push-title(ng-href="{{git.url}}", target="_blank") {{git.type}} <small ng-show="!!git.name && git.name != ''">({{git.name}})</small>
            .git-info(ng-show="!!git.message")
              p.git-message {{git.message}}
            .git-time {{git.created_at}}

    if document.instagram
      .row.split
        .header
          h2.title Instagram
        .social-media
          instagram(name= document.instagram)