---
layout: default
---

article#coworker(ng-controller="CoworkerCtrl")
  .row-fluid
    .image
      img(src=document.image)
    .information
      h1.name= document.title
      .job= document.jobTitle
      .email
        a(href="mailto:" + document.email)= document.email
        .phone= document.phonenumber
      .desc!= content

      ul.cases
        .title Medverkande i case
        each cases in getCollection('cases').toJSON()
          if cases.team
            each member in cases.team
                if (member == document.shortname)
                  li
                    a(href=cases.url)= cases.title

      .social-media
        .title Sociala medier
        if document.twitter
          a(href="http://twitter.com/" + document.twitter)
            .ets-c-twitter

        if document.linkedin
          a(href="http://linkedin.com/" + document.linkedin)
            .ets-c-linkedin

        if document.instagram
          a(href="http://instagram.com/" + document.instagram)
            .ets-instagram

        if document.github
          #github= document.github
          a(href="http://github.com/" + document.github)
            .ets-c-github

      ul.github(ng-show="github")
        .title Senaste på Github
        li(ng-repeat="git in github")
          a.push-title(ng-href="https://github.com/{{git.repo.name}}", target="_blank") {{git.repo.name}}
          .push-time  {{git.created_at}}


      