---
layout: default
---

- var inlineClass = "image "
- inlineClass += !!document.css ? document.css : ""
- var inlineColor = !!document.cssColor ? "border-color:" + document.cssColor + " !important;" : ""
- var cases = []; //getAllCasesByCoworker(document.shortname)
- var splitRow = (!!cases.length) ? "user-content multi" : "user-content"

.row.page-content
  article#coworker

    .top-part

      .center
        a(href="tel:" + document.phonenumber)
          div(class=inlineClass, style=inlineColor)
            img(src=getGravatarUrl(200))
        .job= document.jobTitle
        h1.name= document.title

      .left
        .email
          a(href="mailto:" + document.email)= document.email
          .phone= document.phonenumber

      .right
        .social-buttons
          if document.twitter
            a(href="http://twitter.com/" + document.twitter, target="_blank")
              .e-twitter
          if document.linkedin
            a(href="http://linkedin.com/" + document.linkedin, target="_blank")
              .e-linkedin
          if document.instagram
            a(href="http://instagram.com/" + document.instagram, target="_blank")
              .e-instagram
          if document.github
            a(href="http://github.com/" + document.github, target="_blank")
              .e-github

    .row
      .desc!= content

    if (cases.length)
      .row.split(class=splitRow)
        if (cases.length)
          ul.in-cases
            .header
              h2.title Medverkande i case
            each Case in cases
              li
                a(href=Case.url)= Case.title

    if document.github
      github(username=document.github)

    if document.instagram
      .row.split
        .header
          h2.title Instagram
        .social-media.instagram#instagram-feed(data-name=document.instagram, data-images=3)
