---
layout: default
---

article#coworker(ng-controller="CoworkerCtrl")
  .row-fluid
    .image
      img(src=document.image)
    .information
      h1.name= document.title
      .job= document.jobTitle
      .email
        a(href="mailto:" + document.email)= document.email
        .phone= document.phonenumber
      .desc!= content

      .social-media
        .title Sociala medier
        if document.twitter
          a(href="http://twitter.com/" + document.twitter)
            .ets-c-twitter

        if document.linkedin
          a(href="http://linkedin.com/in/" + document.linkedin)
            .ets-c-linkedin

        if document.instagram
          a(href="http://instagram.com/" + document.instagram)
            .ets-instagram

        if document.github
          a(href="http://github.com/" + document.github)
            .ets-c-github

    if document.github
      ul.github
        .title Senaste på Github
        li(ng-repeat="git in github")
          .push-title {{git.repo.name}}
          .push-time  {{git.created_at}}


      