- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- jQuery
- scripts.add(["/vendor/jquery.js"])

//- Bootstrap
- scripts.add(["/vendor/twitter-bootstrap/js/bootstrap.js"])
- styles.add(["/vendor/twitter-bootstrap/css/bootstrap.css","/vendor/twitter-bootstrap/css/bootstrap-responsive.css"])

//- Other Scripts
- scripts.add(["/vendor/log.js","/vendor/modernizr.js","/vendor/chart.js","/vendor/moment.js"])
- scripts.add(["//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"])

//- User
- styles.add(["/styles/iteamse.css"])
- scripts.add(["/scripts/script.js"])

doctype 5
html(lang="en", ng-app="iteam.se")
  head

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //-
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/i/378
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    // Icons
    link(rel="shortcut icon", href="ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="ico/apple-touch-icon-57-precomposed.png")

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    // Styles
    != styles.toHTML()

  body(class=document.slug, ng-controller="MainCtrl")
    .row-fluid#header
      div#nowplaying(ng-show="nowplaying")
        a(href="https://github.com/Iteam1337/Wejay")
          img#wejay(src="/images/wejay.png")
        span Just nu lyssnar vi på: 
        a(ng-href="{{nowplaying.artistUrl}}") {{nowplaying.artist}}
        span  - 
        a(ng-href="{{nowplaying.trackUrl}}") {{nowplaying.track}}
      a.brand(href="/")
        img(src="http://iteam.se/Content/Images/Iteam.png")   
      ul.nav.nav-collapse.collapse
        each doc in getCollection('pages').toJSON()
          - clazz = (document.url === doc.url) ? 'active' : null
            a(href=doc.url, property="dc:title", class=clazz)= doc.title
              li(typeof="sioc:Page", about=doc.url)
        //- ul.nav.pull-right
        //-   li
        //-     a(href="/operations", class="nav-support") Support
      

    //- .hero-unit
    //-   h1 Förverkligar drömmar med teknik.
    //-   p: :markdown
    //-     Iteam är en agil teknikbyrå i Stockholm. Vi har funnits sedan 1995 och förverkligar drömmar med teknik.
    //-     Vi har tre affärsområden –Rådgivning, Systemutveckling, Drift & Support. De tre motton vi lever efter är: Göra något bra, ha kul och skapa värde.
    //-   a.btn.btn-success.pull-right(href="/sections/case") Kolla igenom våra case  

    .container
      .row-fluid#content.content!= content

    // Scripts
    != scripts.toHTML()
