- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- Other Scripts
- scripts.add(["/scripts/vendor.js"])

//- User
- styles.add(["/styles/vendor.css","/styles/iteamse.css"])
- scripts.add(["/scripts/iteamse.js"])

doctype 5
html(lang="en", ng-app="iteamse")
  head

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //-
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/i/378
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    // Icons
    link(rel="shortcut icon", href="ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="ico/apple-touch-icon-57-precomposed.png")

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    // Styles
    != styles.toHTML()

  body(class=document.slug, ng-controller="MainCtrl")
    .row-fluid#header
      ul.subnav
        each doc in getCollection('pages').toJSON()
          if (doc.pageOrder >= 10)
            - clazz = (document.url === doc.url) ? 'active' : null
              a(href=doc.url, property="dc:title", class=clazz)= doc.title
        a(href="http://tfs.iteam.se", target="_blank", class="btn") Logga in

      .header-inner
        a.brand(href="/")
          img(src="/images/logo.png")   
        ul.nav
          each doc in getCollection('pages').toJSON()
            if (doc.pageOrder < 10)
              - clazz = (document.url === doc.url) ? 'active' : null
                a(href=doc.url, property="dc:title", class=clazz)= doc.title

        .openMobileNav.visible-phone(ng-click="mobileNav = !mobileNav")
          .etp-menu

      ul#mobileNav(ng-show="mobileNav",ng-animate="'slide'")
        each doc in getCollection('pages').toJSON()
          - clazz = (document.url === doc.url) ? 'active' : null
            a(href=doc.url, property="dc:title", class=clazz)= doc.title

    .container
      .row-fluid#content.content!= content

    #footer
      #address
        ul
          li.company Iteam Solutions AB
          li.address Tegnérgatan 28, 113 59 STOCKHOLM
          li Telefon: 08-267090
          li Organisationsnr: 556551-6928
      #followUs
        a(href="https://www.facebook.com/IteamSolutions")
          .ets-c-facebook
        a(href="http://twitter.com/iteam1337")
          .ets-c-twitter
        a(href="http://instagram.com/iteam1337")
          .ets-instagram

    // Scripts
    != scripts.toHTML()
