- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- Other Scripts
- scripts.add(["//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"])
- scripts.add(["/scripts/vendor.js","http://yandex.st/highlightjs/7.3/highlight.min.js"])
- styles.add(["http://yandex.st/highlightjs/7.3/styles/default.min.css"])

//- Bootstrap
- scripts.add(["/vendor/twitter-bootstrap/js/bootstrap.js"])
- styles.add(["/vendor/twitter-bootstrap/css/bootstrap.css","/vendor/twitter-bootstrap/css/bootstrap-responsive.css"])

//- User
- styles.add(["/styles/iteamse.css"])
- scripts.add(["/scripts/iteamse.js"])

doctype 5
html(lang="en", ng-app="iteamse")
  head

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //-
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/i/378
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    // Icons
    link(rel="shortcut icon", href="ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="ico/apple-touch-icon-57-precomposed.png")

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    // Styles
    != styles.toHTML()

  body(class=document.slug, ng-controller="MainCtrl")
    .row-fluid#header
      a.brand(href="/")
        img(src="http://iteam.se/Content/Images/Iteam.png")   
      ul.subnav
        each doc in getCollection('pages').toJSON()
          if (doc.pageOrder >= 10)
            - clazz = (document.url === doc.url) ? 'active' : null
              a(href=doc.url, property="dc:title", class=clazz)= doc.title
      ul.nav
        each doc in getCollection('pages').toJSON()
          if (doc.pageOrder < 10)
            - clazz = (document.url === doc.url) ? 'active' : null
              a(href=doc.url, property="dc:title", class=clazz)= doc.title

      .openMobileNav.visible-phone(ng-click="mobileNav = !mobileNav")
        .etp-menu

      ul#mobileNav(ng-show="mobileNav",ng-animate="'slide'")
        each doc in getCollection('pages').toJSON()
          - clazz = (document.url === doc.url) ? 'active' : null
            a(href=doc.url, property="dc:title", class=clazz)= doc.title
      
    div#nowplaying(ng-show="nowplaying")
      a(href="https://github.com/Iteam1337/Wejay")
        img#wejay(src="/images/wejay.png")
      span Just nu lyssnar vi på: 
      a(ng-href="{{nowplaying.artistUrl}}") {{nowplaying.artist}}
      span  - 
      a(ng-href="{{nowplaying.trackUrl}}") {{nowplaying.track}}

    //- if (document.siteurl)
    //-   .other-cases
    //-     ul
    //-       each cases in getCollection('cases').toJSON()
    //-         if (cases.title !== document.title)
    //-           li
    //-             a(href=cases.url)= cases.title

    .container
      .row-fluid#content.content!= content

    // Scripts
    != scripts.toHTML()
