- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- All indexes that are to be shown on all pages
- var pages = getCollection('sektion').toJSON()

//- url-highlighting and so on
- var documentUrl = document.url.split("/")
- var basename = documentUrl[1]
- var onBlogPage = basename === "blogg"
- var onCase = basename == "case"

//- All pages that should be shown on the
//- second navigation row
- var subpages = {}
- if (basename === "blogg")
  - subpages = getAllBlogCategories()
- else if (basename == "case")
  - subpages = getCollection("showcase").toJSON()
- else
  - subpages = (!!document.subpages) ? getCollection(document.subpages) : false
  - subpages = !!subpages && !!subpages.toJSON ? subpages.toJSON() : false

//- Other Scripts
- scripts.add(["/content/scripts/vendor.js"])

//- User
- styles.add(["/content/styles/vendor.css","/content/styles/iteamse.css"])
- scripts.add(["/content/scripts/iteamse.js"])

!!! 5
html(lang="sv")
  head

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //-
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/i/378
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock("meta").toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    // Icons
    link(rel="shortcut icon", href="/content/ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/content/ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/content/ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/content/ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="/content/ico/apple-touch-icon-57-precomposed.png")

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    // Styles
    != styles.toHTML()

  body(class=document.slug, ng-app="iteamse", ng-controller="MainCtrl")

    #top-holder.ng-cloak
      .row-fluid#header
        ul.subnav
          .subnav-inner
            each doc in pages
              if (doc.pageIndex >= 10)
                - var clazz = (document.url === doc.url || basename === doc.url.substring(1)) ? 'active' : null
                a(href=doc.url, property="dc:title", class=clazz)= doc.title
            a(href="http://tfs.iteam.se", target="_blank", class="btn") Logga in

        .header-inner
          a.brand(href="/")
            img(src="/content/images/iteam_logo.svg", width="120", height="39")
          ul.nav

            each doc in pages
              if (doc.pageIndex < 10)
                - clazz = (document.url === doc.url || basename === doc.url.substring(1)) ? 'active' : null
                  a(href=doc.url, property="dc:title", class=clazz)= doc.title

          .openMobileNav.visible-phone(ng-click="mobileNav = !mobileNav; subpages = null")
            .e-list

      if (!!subpages)
        #navSubpages.ng-cloak
          .subpage-inner
            each subpage in subpages
              - active = (document.url === subpage.url || !!onBlogPage && subpage.title.toLowerCase() === documentUrl[2]) ? 'active' : null
              a(href=subpage.url,class=active)= (subpage.navigationTitle ? subpage.navigationTitle :subpage.title)

      ul#mobileNav.ng-cloak(ng-show="mobileNav && subpages == null",ng-animate="'slide'")
        each doc, i in pages
          - clazz = (document.url === doc.url) ? 'active' : null
          - hasSubpage = (doc.subpages) ? i : null
          li(mobile-nav, data-subpage=hasSubpage)
            a(class=clazz, data-url=doc.url)= doc.title
            if (doc.subpages)
              .e-chevron-thin-right

      #subpageWrap.ng-cloak
        each doc, i in pages
          if (doc.subpages)
            - subId = "subpages == " + i
            ul.subpages(ng-show=subId, ng-animate="'slide-in'")
              li.back(ng-click="subpages = null")
                .e-chevron-thin-left
                span Tillbaka
              each subpage in getCollection(doc.subpages).toJSON()
                li
                  a(href=subpage.url)= subpage.title

  #main-holder.ng-cloak
    .background-image(style=topImage())

    .container(class=singlePageCase())
      .row-fluid#content.content!= content

  #footer-holder.ng-cloak
    #footer
      #address
        ul
          li.company Iteam Solutions AB
          li.address Tegnérgatan 28, 113 59 Stockholm
          li Telefon: 08-26 70 90
          li Organisationsnummer: 556551-6928

      #followUs
        a(href="https://github.com/iteam1337", target="_blank")
          .e-github
        a(href="https://www.facebook.com/IteamSolutions", target="_blank")
          .e-facebook
        a(href="http://twitter.com/iteam1337", target="_blank")
          .e-twitter
        a(href="http://instagram.com/iteam1337", target="_blank")
          .e-instagram

  // Scripts
  != scripts.toHTML()