- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- All indexes that are to be shown on all pages
- var pages = getCollection('sektion').toJSON()

//- All pages that should be shown on the
//- second navigation row
- var subpages = document.subpages && getCollection(document.subpages).toJSON()

doctype html
<!--[if IE 8]><html class="ie8" lang="sv"><![endif]-->
<!--[if IE 9]><html lang="sv" class="ie9"><![endif]-->
<!--[if !IE]><!-->
html(lang="sv")
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")

    != getBlock("meta").toHTML()

    link(rel="shortcut icon", href="/content/ico/favicon.ico")
    link(rel="stylesheet", href="/content/styles/vendor.css?v=" + pkg.version, type="text/css")
    link(rel="stylesheet", href="/content/styles/iteamse.css?v=" + pkg.version, type="text/css")

  body(class=document.slug)
    #header
      a(href="/")
        div(id="logo")
      .navbar.navbar-static-top
        .navbar-inner
          span.logoAndMenu
            a.btn.btn-navbar(type="button",data-toggle="collapse",data-target="#main-nav")
              span.icon-bar
              span.icon-bar
              span.icon-bar

          .nav-collapse.collapse.navbar-responsive-collapse#main-nav
            ul.nav.visible-xs
              each doc, i in pages
                - active = (document.url.indexOf(doc.url) > -1) ? 'active' : null
                - hasSubpage = (doc.subpages) ? i : null
                li(data-subpage=hasSubpage)
                  a(class=active, href=doc.url)= doc.title
                  if (doc.chevron)
                    .e-chevron-thin-right

          .nav-collapse.hidden-xs
            ul.nav
              each doc, i in pages
                - active = (document.url.indexOf(doc.url) > -1) ? 'active' : null
                - hasSubpage = (doc.subpages) ? i : null
                li(data-subpage=hasSubpage)
                  a(class=active, href=doc.url)= doc.title
                  if (doc.chevron)
                    .e-chevron-thin-right          

          if (!!subpages)
            #navSubpages
              .subpage-inner
                each subpage in subpages
                  - active = (document.url.indexOf(subpage.url) > -1) ? 'active' : null
                  a(href=subpage.url,class=active)= (subpage.navigationTitle ? subpage.navigationTitle :subpage.title)

    .offset

    if document.url === "/"
      #main-holder!= content
    else
      #main-holder
        .background-image(style=topImage())
        .container(class=document.containerClass)
         
          #content.row-fluid.content!= content

    if document.callToAction
      .call-to-action-wrap
        #call-to-action Kontakta oss
        .inner
          .phone
            .e-phone
            span 08 - 26 70 90
          .mail
            .e-mail
            a(href="mailto:hans.rollman@iteam.se") hans.rollman@iteam.se

    #footer
      .container

        ul.row
          each doc, i in pages
            - hasSubpage = (doc.subpages) ? i : null
            li.col-md-4(data-subpage=hasSubpage)
              a(href=doc.url)
                h2= doc.title
                p=doc.description

        .row.boilerplate

          #address.col-md-6
            ul
              li.company Iteam Solutions AB
              li.address Tegnérgatan 28, 113 59 Stockholm
              li Telefon: <a href="callto:+468267090">08-26 70 90</a>

          #followUs.col-md-6
            a(href="mailto:hans.rollman@iteam.se")
              .e-mail
            a(href="https://github.com/iteam1337", target="_blank")
              .e-github
            a(href="https://www.facebook.com/IteamSolutions", target="_blank")
              .e-facebook
            a(href="http://twitter.com/iteam1337", target="_blank")
              .e-twitter
            a(href="http://instagram.com/iteam1337", target="_blank")
              .e-instagram

    // Scripts
    != scripts.toHTML()
    <!-- Analytics -->
    script.

      // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-2430046-1', 'iteam.se');
      ga('send', 'pageview');

      // GoSquared
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');
      
      _gs('GSN-599299-Y');

      // ProspectEye
      var psSite = "f85d645e3d";
      var peJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
      document.write(unescape("%3Cscript src='" + peJsHost + "tr.prospecteye.com/track.js' type='text/javascript'%3E%3C/script%3E"));

    <!-- End Analytics -->
    script(src="/content/scripts/iteamse.js?v=" + pkg.version)
    script(src="/content/scripts/app.js?v=" + pkg.version)
