- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- All indexes that are to be shown on all pages
- var pages = getCollection('sektion').toJSON()
- pages.push({ url: 'http://tekniken.nu/', title: 'Blogg', pageIndex: 15 })

//- url-highlighting and so on
- var documentUrl = document.url.split("/")
- var basename = documentUrl[1]

//- All pages that should be shown on the
//- second navigation row
- var subpages = document.subpages && getCollection(document.subpages).toJSON()

!!! 5
html(lang="sv", manifest="/application.appcache")
  head
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    != getBlock("meta").toHTML()

    link(rel="shortcut icon", href="/content/ico/favicon.ico")
    script(src="/content/scripts/iteamse.js")
    link(rel="stylesheet", href="/content/styles/vendor.css", type="text/css")
    link(rel="stylesheet", href="/content/styles/iteamse.css", type="text/css")

  body(
    class=document.slug
  )

  nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button",data-toggle="collapse",data-target="#main-nav")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        img(src="/content/images/svg/iteam_logo.svg", width="120", height="30")

    .collapse.navbar-collapse#main-nav
      ul.nav.navbar-nav
        each doc, i in pages
          - clazz = (doc.url.indexOf(document.url) > -1) ? 'active' : null
          - hasSubpage = (doc.subpages) ? i : null
          li(data-subpage=hasSubpage)
            a(class=clazz, href=doc.url)= doc.title
            if (doc.chevron)
              .e-chevron-thin-right

    if (!!subpages)
      #navSubpages
        .subpage-inner
          each subpage in subpages
            - active = (subpage.url.indexOf(document.url) > -1) ? 'active' : null
            a(href=subpage.url,class=active)= (subpage.navigationTitle ? subpage.navigationTitle :subpage.title)


  .offset

  if document.url === "/"
    #main-holder!= content
  else
    #main-holder
      .background-image(style=topImage())
      .container(class=singlePageCase())
        #content.row-fluid.content!= content

  #footer-holder
    #footer
      #address
        ul
          li.company Iteam Solutions AB
          li.address Tegnérgatan 28, 113 59 Stockholm
          li Telefon: 08-26 70 90

      #followUs
        a(href="https://github.com/iteam1337", target="_blank")
          .e-github
        a(href="https://www.facebook.com/IteamSolutions", target="_blank")
          .e-facebook
        a(href="http://twitter.com/iteam1337", target="_blank")
          .e-twitter
        a(href="http://instagram.com/iteam1337", target="_blank")
          .e-instagram

  // Scripts
  != scripts.toHTML()
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2430046-1']);
    _gaq.push(['_trackPageview']);
  script(src="//www.google-analytics.com/ga.js")
  script(src="//localhost:35729/livereload.js")

