---
layout: default
standalone: true
---

h1(title,class=document.background)= document.title

.row-fluid
  #page.page.job
    article.page-content
      .col-md-7!= content
      .col-md-5.right-coloumn
        h2 Krav
        .row !{marked(document.krav)}
        h2 Vi jobbar också med !{marked(document.meriterande)}
        h2 Anställningsform !{marked(document.anstallningsform)}