---
layout: default
---

div.row-fluid(make-anchors, ng-controller="AboutCtrl")
  div#page.page
    h1= document.title
    article.page-content!= content
    
    if (document.pageType === 'Service')
      div#connectedCases
        .title Relaterade case
        ul
          each cases in getCollection('cases').toJSON()
            if cases.tags
              each tag in cases.tags
                if tag === document.title
                  li
                    a(href=cases.url)= cases.title

    if (document.pageType === 'Career')
      div#opportunities
        .title Lediga tjänster
        ul
          each career in getCollection('hiring').toJSON()
            if career
              li
                a(href=career.url)= career.title
                p= career.summary
            else
              li Just nu har vi inga lediga tjänster

    if (document.pageType === 'Feedback')
      div#sendFeedback(ng-controller="FeedbackCtrl")

        ul
          each feedback,i in getCollection('feedback').toJSON()
            - change = 'changeFeedback(' + i + ')'
            li(ng-click=change)= feedback.title

        each feedback,i in getCollection('feedback').toJSON()
          - inView = 'inView == ' + i
          div(ng-show=inView)
            h2= feedback.title
            p!= feedback.content
        
        div.row-fluid.common
          .span4
            label(for="name") Vad heter du?
            input(type="text", id="name", placeholder="Namn")

            label(for="email") Vad är din e-mailadress?
            input(type="text", id="email", placeholder="E-mailadress")

          .span8
            label(for="onyourmind") Vad har du på hjärtat?
            textarea(id="onyourmind")