---
layout: default
---

div.row-fluid(make-anchors)
	div.quote
		blockquote= document.quote
		div
			each coworker in getCollection('coworkers').toJSON()
				if coworker.shortname == document.quoteBy
					a(href="/coworkers/" + document.quoteBy)= "-- " + coworker.title
					span= ", " + coworker.jobTitle

	div#page.page
		h1= document.title
		article.page-content!= content
