---
layout: default
---

div.row-fluid
	div.span2
		blockquote= document.quote
		div
			each coworker in getCollection('coworkers').toJSON()
				if coworker.shortname == document.quoteBy
					a(href="/coworkers/" + document.quoteBy)= "-- " + coworker.title
					span= ", " + coworker.jobTitle

	div.span8#page.page
		h1= document.title
		article.page-content!= content
