---
layout: default
---

.row-fluid(make-pretty)
  article#post.post
    div.post-date= document.date.toDateString()
    h2.post-title= document.title
    .post-content!= content
    .next
      a(href="")
    .post-author
      if document.author
        each coworker in getCollection('coworkers').toJSON()
          if coworker.shortname == document.author
            a(href="/coworkers/" + document.author)= coworker.title
            div= coworker.jobTitle

//- .row-fluid
//-   .span2
//-   .span8
//-     if document.relatedDocuments && document.relatedDocuments.length
//-       section#related
//-         h3 Related Posts
//-         nav.linklist
//-           each doc in document.relatedDocuments.slice(0,5)
//-             li
//-               span= doc.date.toDateString()
//-               |  &raquo;&nbsp;
//-               a(href=doc.url)= doc.title
